# Datastructures

### Lists
* **Ordered** collection of data
* **Mutable** type of Data Structure
* **Hetrogenious** - Can contain **Multple Types** of data
* **Iterable**

In [19]:
# Creation of lists
templist =[1,"one",5,"cat"]
print(templist)
print(type(templist))
print(len(templist))
print(templist[3])
print(templist[-1])
# or
templist2 = list()
print(type(templist2))
print(len(templist2))

[1, 'one', 5, 'cat']
<class 'list'>
4
cat
cat
<class 'list'>
0

In [21]:
# mutability
templist2[0] = "blue"

IndexError: list assignment index out of range

In [24]:
templist2.append("blue")
print(templist2)

['blue', 'blue']

In [25]:
# mutability
print(id(templist2))

2101935370048

### List slicing
* similar to string slicing
* again, excludes "end" value in slicing

In [26]:
l = [2, 3, 5, 7, 9, 4]
len(l)

6

In [28]:
l[0:3]

[2, 3, 5]

In [29]:
l[::-1]

[4, 9, 7, 5, 3, 2]

In [31]:
l[3: 0: -1]

[7, 5, 3]

### List inbiult Methods
* count - returns the count of an object
* index - returns the index of **1st** occurence of an object
* pop - **removes** and **returns** the last element of a list
* remove - just **removes** object from list
* sort - sorts the list
* insert - adds an object at a given index
* append - add an object to the end of a list
* extend - Extend list by appending elements from the iterable.

In [32]:
budget = [100, 200, 150, 100,]

In [33]:
budget.count(100)

2

In [34]:

budget.index(150)

2

In [36]:
budget.index(600)

ValueError: 600 is not in list

In [37]:
names = ["john", "david", "bear", "turkey"]

In [38]:
names.pop()

'turkey'

In [39]:
names

['john', 'david', 'bear']

In [40]:
names.remove('david')

In [41]:
names

['john', 'bear']

In [42]:
names.remove("Harry")

ValueError: list.remove(x): x not in list

In [46]:
budget.sort()
budget

[100, 100, 150, 200]

In [47]:
budget.sort?

Signature: budget.sort(*, key=None, reverse=False)
Docstring:
Sort the list in ascending order and return None.

The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
order of two equal elements is maintained).

If a key function is given, apply it once to each list item and sort them,
ascending or descending, according to their function values.

The reverse flag can be set to sort in descending order.
Type:      builtin_function_or_method

In [48]:
budget.insert?

Signature: budget.insert(index, object, /)
Docstring: Insert object before index.
Type:      builtin_function_or_method

In [49]:
budget.insert(3, 50)
budget

[100, 100, 150, 50, 200]

In [50]:
budget.append(500)

In [51]:
budget

[100, 100, 150, 50, 200, 500]

In [52]:
# see how list gets inserted as list object
budget2 = [323, 1234, 6675]
budget.append(budget2)
budget

[100, 100, 150, 50, 200, 500, [323, 1234, 6675]]

In [53]:
budget.extend?

Signature: budget.extend(iterable, /)
Docstring: Extend list by appending elements from the iterable.
Type:      builtin_function_or_method

In [55]:
budget.remove(budget2)
budget

[100, 100, 150, 50, 200, 500]

In [58]:
budget.extend(budget2)
budget

[100,
 100,
 150,
 50,
 200,
 500,
 323,
 1234,
 6675,
 323,
 1234,
 6675,
 323,
 1234,
 6675]

In [60]:
name = "David"
names.extend(name)
names

['john', 'bear', 'D', 'a', 'v', 'i', 'd', 'D', 'a', 'v', 'i', 'd']

### Heterogenous Lists
Different data types

In [62]:
l = [2, "david", 1.3, True]

In [63]:
type(l)

list

In [64]:
type(l[3])

bool

In [67]:
for i in l:
    print(f"{i} {type(i)}")

2 <class 'int'>
david <class 'str'>
1.3 <class 'float'>
True <class 'bool'>

### 2-D Lists

In [69]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l3 = [7, 8, 9]

l = [l1, l2, l3]
print(l)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [70]:
# indexing
l[1]

[4, 5, 6]

In [71]:
# 2-D indexing
l[1][1]

5

### 2-D List Iteration

In [75]:
for row in l:
    print(row)
    for col in row:
        print([col])

[1, 2, 3]
[1]
[2]
[3]
[4, 5, 6]
[4]
[5]
[6]
[7, 8, 9]
[7]
[8]
[9]

### List Comprehension

In [76]:
l = []
for i in range(10):
    l.append(i)

print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
l = [i for i in range(20)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [82]:
# list comprehension. Creating list 'l' by looping through other iterable
# and doing a function
l = [i ** 2 for i in range(10)] # squared
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Challenge:
* Given a list of population sensus. You need to find the total population
* Each element in the list represent total members in a family
* l = [4, 6, 5, 8, 9, 3, 2, 3, 4, 4, 3, 2, 3, 4]

In [89]:
l = [4, 6, 5, 8, 9, 3, 2, 4, 5, 4, 3, 2, 3, 4]
population = 0
for i in l:
    population += i
print(population)

62

In [91]:
word = "Scaler Data Science Course"
word_list = list(word)
print(word_list[7:19])

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

In [93]:
players = ['Jadeja', 'Rahul','Rohit']
players[len(players):] = ['Dhoni', 'Virat']
players
players+=['Dhoni', 'Virat']
players

['Jadeja', 'Rahul', 'Rohit', 'Dhoni', 'Virat', 'Dhoni', 'Virat']

# Tuples
* Like lists, **tuples** are ordered/indesed collections of data
* **Unchangable/Unmutable** - Frozen data. This is the difference
* Iterable - for i in t
* Can be **heterogenous**

In [96]:
# Use Brackets, not Square Brackets
planets = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Pluto")
print(type(planets))
print(planets)

<class 'tuple'>
('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Pluto')

In [98]:
# Slicing using Square Brackets
print(planets[2:4])
print(planets[::-1])

('Earth', 'Mars')
('Pluto', 'Uranus', 'Saturn', 'Jupiter', 'Mars', 'Earth', 'Venus', 'Mercury')

### How to creat a tuple
* t = ()
* t1 = tuple() 

### Non-empty typle
* NO t3 = (2) # This will be seen as an int
* t3 = tuple(2)

In [99]:
# It will iterate through iterable items when adding
t5 = tuple("David")
t5

('D', 'a', 'v', 'i', 'd')

### Tuple Mutability

In [100]:
t = (2, 3, 4)
t[0] = 45 # Nope

TypeError: 'tuple' object does not support item assignment

### What about Lists in Tuples?
**Yes**, individual object within a Tuple still retain their Mutability.
The Tuple contains references to objects, and the List Object reference doesnt change as well

In [104]:
t = ([1, 2, 3], "David")
print(t, type(t), type(t[0]))
# Can change the list values
t[0][1]= "foobar"
print(t)
t[0].append("hello")
print(t)

([1, 2, 3], 'David') <class 'tuple'> <class 'list'>
([1, 'foobar', 3], 'David')
([1, 'foobar', 3, 'hello'], 'David')

### Unpacking Tuples and Lists

In [106]:
t = (1, 2, 3, 4)
# Unpacking
a, b, c, d = t
print(a, b, c, d)
l1 = [1, 2, 3, 4]
# Unpacking
a, b, c, d = l1
print(a, b, c, d)

1 2 3 4
1 2 3 4

### Tuple Operations
* Count - frequency
* Index - location
* Concatination - add to tuples together
* Convert List to Tuple, and Tuple to List

In [107]:
t = (1, 2, 3, 4)
print(t.index(2))

1

In [109]:
# Concatination to create a new tuple
t2 = (5, 6)
t3 = t + t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [110]:
# Convert tuple to list
l1 = list(t)
print(type(l1))
# Convert list to tuple
t = tuple(l1)

<class 'list'>

Get the index
Problem Description:

Write a function to search for a given element elem in the tuple tup and return its index. Return -1 if elem is not present in tup.

Input Format:

The first line consists of tuple.
The second line consists of an element for which index is required to be returned.
Output Format:

Return the index value in integer format.

In [129]:
def get_index(tup, elem):
    if tup.count(elem):
        return tup.index(elem)
    else:
        return -1
       

t = (10, 20, 30, 40, 50)
get_index(t, 30)

2

Divide the tuple
Problem Description:

Write a program to divide a given tuple into two tuples that contain even and odd indexed elements of the original tuple. Print both these tuples in the given output format.

Note: The input tuple follows 1-based indexing. This means the element at index 0  is treated as having index as 1. 

For example, (9,2,3). The 1-based index of 2 is 2.

Input Format:

The input contains a tuple as an argument to the function.
Output Format:

Print two tuples one for odd indexed elements and another for even indexed elements in the following format:
Odd: (....)
Even: (....)

In [139]:
def odd_even_split_tuple(tup):
    odd_list = []
    even_list = []
    count = 1
    for i in tup:
        if ((count % 2) == 0):
            even_list.append(i)
        else:
            odd_list.append(i)
        count += 1
    # print lists
    odd_tuple = tuple(odd_list)
    even_tuple = tuple(even_list)
    print(f"Odd: {odd_tuple}")
    print(f"Even: {even_tuple}")


t = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
odd_even_split_tuple(t)

Odd: (10, 5, 10, 10, 5, 8)
Even: (8, 2, 15, 8, 8, 2)

Adding to a tuple
Predict the output of the following code as we are trying to append to an immutable tuple:

name_lst = ["Vijay", "Vickey"]
tup = ("Item_1", 0.5, name_lst)
name_lst.append("Vishal")
print(tup)

In [140]:
name_lst = ["Vijay", "Vickey"]
tup = ("Item_1", 0.5, name_lst)
name_lst.append("Vishal")
print(tup)

('Item_1', 0.5, ['Vijay', 'Vickey', 'Vishal'])

In [144]:
t = tuple("David")
print(t, type(t))
t = ("David")
print(t, type(t))

('D', 'a', 'v', 'i', 'd') <class 'tuple'>
David <class 'str'>

# Dictionary
* Dictionaries have key value pair form of data
* Dictionaries are **Ordered**
* Do **NOT** support indexing - cant do dict[0]
* Data can be accessed using **key**

Can Zip two lists together

### Creating a dictionary

In [2]:
d = {}
print(type(d))
print(d)
d = dict()
print(d)

<class 'dict'>
{}
{}

In [4]:
# Creating non-empty dictionary
fruits = {
    "Apple": 120,
    "mango": 100,
    "pineapple": 90,
    "Banana": 90
}
print(fruits)

{'Apple': 120, 'mango': 100, 'pineapple': 90, 'Banana': 90}

In [5]:
# Zipping lists together
name = ["Apple", "Mango", "Oranges"]
prices = [120, 100, 130]
fruit = dict(zip(name, prices))
print(fruit)

{'Apple': 120, 'Mango': 100, 'Oranges': 130}

### Accessing Dict

In [6]:
fruits["Apple"]

120

### Get Method: To avoid error

In [7]:
fruits.get("Apple")

120

In [11]:
# Wont work fruits["Guava"]
print(fruits.get("Guava"))
print(fruits.get("Guava", "Not Available"))

None
Not Available

### Updating a Dict
* Using Key
* Update

In [12]:
fruits["pineapple"]

90

In [17]:
fruits["pineapple"] = {"small":90, "large": 120}
print(fruits)
print(f'large pineapples {fruits.get("pineapple").get("large")}')

{'Apple': 120, 'mango': 100, 'pineapple': {'small': 90, 'large': 120}, 'Banana': 90}
large pineapples 120

In [18]:
new = {"Grapes": 120, "oranges": 70, "berry": 140}
fruits.update(new)
print(fruits)

{'Apple': 120, 'mango': 100, 'pineapple': {'small': 90, 'large': 120}, 'Banana': 90, 'Grapes': 120, 'oranges': 70, 'berry': 140}

### Deleting Data from Dictionary
* Pop -  remove specified key and return the corresponding value.
* Popitem - Remove and return a (key, value) pair as a 2-tuple.
* Del - deletes entire dictionary

In [19]:
fruits

{'Apple': 120,
 'mango': 100,
 'pineapple': {'small': 90, 'large': 120},
 'Banana': 90,
 'Grapes': 120,
 'oranges': 70,
 'berry': 140}

In [20]:
# Citizenship check
"Apple" in fruits

True

In [21]:
# dict.pop(key)
fruits.pop("Apple")

120

In [22]:
fruits

{'mango': 100,
 'pineapple': {'small': 90, 'large': 120},
 'Banana': 90,
 'Grapes': 120,
 'oranges': 70,
 'berry': 140}

In [29]:
fruits.popitem()

('berry', 140)

In [30]:
fruits.popitem()

('oranges', 70)

In [34]:
fruits

{'mango': 100,
 'pineapple': {'small': 90, 'large': 120},
 'Banana': 90,
 'Grapes': 120}

In [36]:
del fruits

In [37]:
fruits

NameError: name 'fruits' is not defined

### Iteration in Dictionary
HOW, when Dict isnt iterable ?!
* D.items() -> a set-like object providing a view on D's items

In [39]:
fruits = {'mango': 100,
 'pineapple': {'small': 90, 'large': 120},
 'Banana': 90,
 'Grapes': 120}
fruits

{'mango': 100,
 'pineapple': {'small': 90, 'large': 120},
 'Banana': 90,
 'Grapes': 120}

In [40]:
# This prints the "Keys"
for i in fruits:
    print(i)

mango
pineapple
Banana
Grapes

In [42]:
# Prints key and values
for i in fruits:
    print(i, fruits[i])

mango 100
pineapple {'small': 90, 'large': 120}
Banana 90
Grapes 120

In [44]:
fruits.items?

Docstring: D.items() -> a set-like object providing a view on D's items
Type:      builtin_function_or_method

In [43]:
# using dict.items()
for key, value in fruits.items():
    print(key, value)

mango 100
pineapple {'small': 90, 'large': 120}
Banana 90
Grapes 120

### More Dict Methods
* keys - returns keys
* values - returns values
* items - returns all key, value pairs

In [46]:
print(fruits.keys())
print(fruits.values())
print(fruits.items())

dict_keys(['mango', 'pineapple', 'Banana', 'Grapes'])
dict_values([100, {'small': 90, 'large': 120}, 90, 120])
dict_items([('mango', 100), ('pineapple', {'small': 90, 'large': 120}), ('Banana', 90), ('Grapes', 120)])

### Challenge
Take an input and find the freq of each letter and return the letter and their freq

In [53]:
input = "David Mickelson"
##
input = input.lower()
freq = {}
for i in input:
    if freq.get(i):
        freq[i] += 1
    else:
        freq[i] = int(1) 

print(freq.items())

dict_items([('d', 2), ('a', 1), ('v', 1), ('i', 2), (' ', 1), ('m', 1), ('c', 1), ('k', 1), ('e', 1), ('l', 1), ('s', 1), ('o', 1), ('n', 1)])

### Sum of Values
Problem Description:

Given a dictionary, find the sum of values of every key in the dictionary.

Input Format:

The input contains two lines.
The first line has space-separated string values which are the keys of the dictionary.
The second line has space-separated integer numbers which are the values of the dictionary.
Output Format:

Print the sum of the values of the items as an integer.
Sample Input:

x y z
25 25 50
Sample Output:

100

In [63]:
def returnSum(dict):
    sum = 0
    for i in dict.values():
        sum += i
    print(sum)
    return sum


testdict = {"1": 4, "2": 5, "3": 6}
print(testdict)
returnSum(testdict)

{'1': 4, '2': 5, '3': 6}
15

15

### Adding Common Keys
Problem Description:

Given two dictionaries, write a program for creating a dictionary in such a way that it consists of all the keys that are common in both dictionaries. The values corresponding to the keys in this new dictionary are the sum of the values of those keys in the two dictionaries.

Input Format:

The input contains four lines.
The first line is space-separated string values which are the keys of the first dictionary.
The second line is space-separated integer numbers which are values of the first dictionary.
The third line is space-separated string values which are the keys of the second dictionary.
The second line is space-separated integer numbers which are values of the second dictionary.
Output Format:

Print the resultant dictionary containing added values for common keys.
Sample Input:

a b c
1 2 3
c d e
4 5 6
Sample Output:

{'c': 7}

In [66]:
def commonKey(dict1, dict2):
  dict3 = {}
  for i in dict1:
    if dict2.get(i):
        dict3[i] = dict1.get(i) + dict2.get(i)
  print (dict3)
  return dict3

  # YOUR CODE GOES HERE

dict1 = {"a": 1, "b": 2, "c": 3}
dict2 = {"c": 4, "d": 5, "e": 6}
commonKey(dict1, dict2)

{'c': 7}

{'c': 7}

In [67]:
dict1 = {'age': 35, 'name': 'abc', 'salary': 45000}

val = dict1['age']

if val in dict1:
    print('This is a member of the dictionary')
else:
    print('This is not a member of the dictionary')

This is not a member of the dictionary

In [68]:
freshers = {
    'student1': {'name': 'yash', 'salary': 7500},
    'student2': {'name': 'heet', 'salary': 8000},
    'student3': {'name': 'smit', 'salary': 6500}
}
freshers['student3']['salary'] = 8500
freshers

{'student1': {'name': 'yash', 'salary': 7500},
 'student2': {'name': 'heet', 'salary': 8000},
 'student3': {'name': 'smit', 'salary': 8500}}

In [69]:
bbt = {'Sheldon': 1, 'Leonard': 2}
bbt.update({'Penny': 2})
print(bbt)

{'Sheldon': 1, 'Leonard': 2, 'Penny': 2}

# Sets
* **Unique collection** of data (keys)
* Unordered collection of keys
* Unindexed - doesnt support set[1], no keys. It is iterable
* Mutable
* Heterogeneous

### Creating a Set
* set() 
* set(iterable) - provide keys only, no values

In [71]:
# This will create a DICT
s = {}
type(s)

dict

In [72]:
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [82]:
# Non empty set. Will discard repeated keys
s = {1, 2, 3, 1, 2, 2, 5, 6}
print(s)
for i in s:
    print(i)

{1, 2, 3, 5, 6}
1
2
3
5
6

### Updating a Set
* add: for single element
* update(iterable)

In [83]:
s
s.add(8)
s.add(8) # will only add it once
s

{1, 2, 3, 5, 6, 8}

In [84]:
name = "David"
s.update(name) # case-sensitive
s

{1, 2, 3, 5, 6, 8, 'D', 'a', 'd', 'i', 'v'}

### Deleting an element
* pop  - remove and return **Random** element. Not sure what will come off
* remove(element) - removes particular element

In [85]:
print(s.pop())
print(s)

1
{2, 3, 5, 6, 'd', 8, 'D', 'v', 'a', 'i'}

In [86]:
print(s.pop())
print(s)

2
{3, 5, 6, 'd', 8, 'D', 'v', 'a', 'i'}

In [87]:
print(s.remove('D'))
print(s)

None
{3, 5, 6, 'd', 8, 'v', 'a', 'i'}

In [88]:
s.remove('foobar')

KeyError: 'foobar'

### Intersection
* Given two sets, find the common unique keys between them
* set1.intersection(set2)

In [91]:
class_python = {'iron man', ' hulk', 'spidy', 'david'}
class_java = {'iron man', 'david', 'ant man'}

class_python.intersection(class_java)

{'david', 'iron man'}

### Union
* **Common** values across sets together
* set1.union(set2)

In [93]:
class_python.union(class_java)

{' hulk', 'ant man', 'david', 'iron man', 'spidy'}

### Difference
* **Non-common** keys in set1 vs set 2
* What keys in set1 do **NOT** appear in set 2
* set1.difference(set2)

In [95]:
class_python.difference(class_java)

{' hulk', 'spidy'}

In [96]:
class_java.difference(class_python)

{'ant man'}

### Challenge
Count number of unique elements (words) in a sentence

In [107]:
sent = "be the change you wish to see in the world"
# Split string, and insert into a set to remove duplicates
set1 = set(sent.split(' '))
print(set1)
print(len(set1))

{'be', 'see', 'you', 'wish', 'to', 'in', 'the', 'world', 'change'}
9

### Frequency of unique elements
Problem Description:

Write a function to print out the frequency of all the unique elements present in a given tuple.

Input Format:

The one input line consists of a tuple.
Output Format:

Unique elements and their frequencies are expected to be printed as follows:
unique_element1 : freq1
unique_element2 : freq2
.
.
Sample Input:

(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
Sample Output:

10 : 3
8 : 4
5 : 2
2 : 2
15 : 1

In [137]:
def unique_count(tup):
    freq = {}
    for i in tup:
        if freq.get(str(i)):
            freq[str(i)] += 1
        else:
            freq[str(i)] = 1
    print(freq)    
    for i in freq:
        print(f" {i} : {freq[i]}")
    return (freq)


# tup = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
tup = (1, 2, 3, 2, "Hello", [4, 8, 16], "Hello")
tup.count(10)
unique_count(tup)

TypeError: unhashable type: 'list'

In [ ]:
set1 = {1, 2, 4}
set2 = {4, 5, 6}
print(len(set1 + set2))

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
sets = {3, 4, 5}
sets.update([1, 2 , 3])
sets

{1, 2, 3, 4, 5}

In [ ]:
a = {'Aurn', 'Nikhil', 'Seeta'}
a[0] = 'Arun'
print(a)

TypeError: 'set' object does not support item assignment