# Datastructures

### Lists
* **Ordered** collection of data
* **Mutable** type of Data Structure
* **Hetrogenious** - Can contain **Multple Types** of data
* **Iterable**

In [19]:
# Creation of lists
templist =[1,"one",5,"cat"]
print(templist)
print(type(templist))
print(len(templist))
print(templist[3])
print(templist[-1])
# or
templist2 = list()
print(type(templist2))
print(len(templist2))

[1, 'one', 5, 'cat']
<class 'list'>
4
cat
cat
<class 'list'>
0

In [21]:
# mutability
templist2[0] = "blue"

IndexError: list assignment index out of range

In [24]:
templist2.append("blue")
print(templist2)

['blue', 'blue']

In [25]:
# mutability
print(id(templist2))

2101935370048

### List slicing
* similar to string slicing
* again, excludes "end" value in slicing

In [26]:
l = [2, 3, 5, 7, 9, 4]
len(l)

6

In [28]:
l[0:3]

[2, 3, 5]

In [29]:
l[::-1]

[4, 9, 7, 5, 3, 2]

In [31]:
l[3: 0: -1]

[7, 5, 3]

### List inbiult Methods
* count - returns the count of an object
* index - returns the index of **1st** occurence of an object
* pop - **removes** and **returns** the last element of a list
* remove - just **removes** object from list
* sort - sorts the list
* insert - adds an object at a given index
* append - add an object to the end of a list
* extend - Extend list by appending elements from the iterable.

In [32]:
budget = [100, 200, 150, 100,]

In [33]:
budget.count(100)

2

In [34]:

budget.index(150)

2

In [36]:
budget.index(600)

ValueError: 600 is not in list

In [37]:
names = ["john", "david", "bear", "turkey"]

In [38]:
names.pop()

'turkey'

In [39]:
names

['john', 'david', 'bear']

In [40]:
names.remove('david')

In [41]:
names

['john', 'bear']

In [42]:
names.remove("Harry")

ValueError: list.remove(x): x not in list

In [46]:
budget.sort()
budget

[100, 100, 150, 200]

In [47]:
budget.sort?

Signature: budget.sort(*, key=None, reverse=False)
Docstring:
Sort the list in ascending order and return None.

The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
order of two equal elements is maintained).

If a key function is given, apply it once to each list item and sort them,
ascending or descending, according to their function values.

The reverse flag can be set to sort in descending order.
Type:      builtin_function_or_method

In [48]:
budget.insert?

Signature: budget.insert(index, object, /)
Docstring: Insert object before index.
Type:      builtin_function_or_method

In [49]:
budget.insert(3, 50)
budget

[100, 100, 150, 50, 200]

In [50]:
budget.append(500)

In [51]:
budget

[100, 100, 150, 50, 200, 500]

In [52]:
# see how list gets inserted as list object
budget2 = [323, 1234, 6675]
budget.append(budget2)
budget

[100, 100, 150, 50, 200, 500, [323, 1234, 6675]]

In [53]:
budget.extend?

Signature: budget.extend(iterable, /)
Docstring: Extend list by appending elements from the iterable.
Type:      builtin_function_or_method

In [55]:
budget.remove(budget2)
budget

[100, 100, 150, 50, 200, 500]

In [58]:
budget.extend(budget2)
budget

[100,
 100,
 150,
 50,
 200,
 500,
 323,
 1234,
 6675,
 323,
 1234,
 6675,
 323,
 1234,
 6675]

In [60]:
name = "David"
names.extend(name)
names

['john', 'bear', 'D', 'a', 'v', 'i', 'd', 'D', 'a', 'v', 'i', 'd']

### Heterogenous Lists
Different data types

In [62]:
l = [2, "david", 1.3, True]

In [63]:
type(l)

list

In [64]:
type(l[3])

bool

In [67]:
for i in l:
    print(f"{i} {type(i)}")

2 <class 'int'>
david <class 'str'>
1.3 <class 'float'>
True <class 'bool'>

### 2-D Lists

In [69]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l3 = [7, 8, 9]

l = [l1, l2, l3]
print(l)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [70]:
# indexing
l[1]

[4, 5, 6]

In [71]:
# 2-D indexing
l[1][1]

5

### 2-D List Iteration

In [75]:
for row in l:
    print(row)
    for col in row:
        print([col])

[1, 2, 3]
[1]
[2]
[3]
[4, 5, 6]
[4]
[5]
[6]
[7, 8, 9]
[7]
[8]
[9]

### List Comprehension

In [76]:
l = []
for i in range(10):
    l.append(i)

print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
l = [i for i in range(20)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [82]:
# list comprehension. Creating list 'l' by looping through other iterable
# and doing a function
l = [i ** 2 for i in range(10)] # squared
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Challenge:
* Given a list of population sensus. You need to find the total population
* Each element in the list represent total members in a family
* l = [4, 6, 5, 8, 9, 3, 2, 3, 4, 4, 3, 2, 3, 4]

In [89]:
l = [4, 6, 5, 8, 9, 3, 2, 4, 5, 4, 3, 2, 3, 4]
population = 0
for i in l:
    population += i
print(population)

62

In [91]:
word = "Scaler Data Science Course"
word_list = list(word)
print(word_list[7:19])

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

In [93]:
players = ['Jadeja', 'Rahul','Rohit']
players[len(players):] = ['Dhoni', 'Virat']
players
players+=['Dhoni', 'Virat']
players

['Jadeja', 'Rahul', 'Rohit', 'Dhoni', 'Virat', 'Dhoni', 'Virat']

# Tuples
* Like lists, **tuples** are ordered/indesed collections of data
* **Unchangable/Unmutable** - Frozen data. This is the difference
* Iterable - for i in t
* Can be **heterogenous**

In [96]:
# Use Brackets, not Square Brackets
planets = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Pluto")
print(type(planets))
print(planets)

<class 'tuple'>
('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Pluto')

In [98]:
# Slicing using Square Brackets
print(planets[2:4])
print(planets[::-1])

('Earth', 'Mars')
('Pluto', 'Uranus', 'Saturn', 'Jupiter', 'Mars', 'Earth', 'Venus', 'Mercury')

### How to creat a tuple
* t = ()
* t1 = tuple() 

### Non-empty typle
* NO t3 = (2) # This will be seen as an int
* t3 = tuple(2)

In [99]:
# It will iterate through iterable items when adding
t5 = tuple("David")
t5

('D', 'a', 'v', 'i', 'd')

### Tuple Mutability

In [100]:
t = (2, 3, 4)
t[0] = 45 # Nope

TypeError: 'tuple' object does not support item assignment

### What about Lists in Tuples?
**Yes**, individual object within a Tuple still retain their Mutability.
The Tuple contains references to objects, and the List Object reference doesnt change as well

In [104]:
t = ([1, 2, 3], "David")
print(t, type(t), type(t[0]))
# Can change the list values
t[0][1]= "foobar"
print(t)
t[0].append("hello")
print(t)

([1, 2, 3], 'David') <class 'tuple'> <class 'list'>
([1, 'foobar', 3], 'David')
([1, 'foobar', 3, 'hello'], 'David')

### Unpacking Tuples and Lists

In [106]:
t = (1, 2, 3, 4)
# Unpacking
a, b, c, d = t
print(a, b, c, d)
l1 = [1, 2, 3, 4]
# Unpacking
a, b, c, d = l1
print(a, b, c, d)

1 2 3 4
1 2 3 4

### Tuple Operations
* Count - frequency
* Index - location
* Concatination - add to tuples together
* Convert List to Tuple, and Tuple to List

In [107]:
t = (1, 2, 3, 4)
print(t.index(2))

1

In [109]:
# Concatination to create a new tuple
t2 = (5, 6)
t3 = t + t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [110]:
# Convert tuple to list
l1 = list(t)
print(type(l1))
# Convert list to tuple
t = tuple(l1)

<class 'list'>

Get the index
Problem Description:

Write a function to search for a given element elem in the tuple tup and return its index. Return -1 if elem is not present in tup.

Input Format:

The first line consists of tuple.
The second line consists of an element for which index is required to be returned.
Output Format:

Return the index value in integer format.

In [129]:
def get_index(tup, elem):
    if tup.count(elem):
        return tup.index(elem)
    else:
        return -1
       

t = (10, 20, 30, 40, 50)
get_index(t, 30)

2

Divide the tuple
Problem Description:

Write a program to divide a given tuple into two tuples that contain even and odd indexed elements of the original tuple. Print both these tuples in the given output format.

Note: The input tuple follows 1-based indexing. This means the element at index 0  is treated as having index as 1. 

For example, (9,2,3). The 1-based index of 2 is 2.

Input Format:

The input contains a tuple as an argument to the function.
Output Format:

Print two tuples one for odd indexed elements and another for even indexed elements in the following format:
Odd: (....)
Even: (....)

In [139]:
def odd_even_split_tuple(tup):
    odd_list = []
    even_list = []
    count = 1
    for i in tup:
        if ((count % 2) == 0):
            even_list.append(i)
        else:
            odd_list.append(i)
        count += 1
    # print lists
    odd_tuple = tuple(odd_list)
    even_tuple = tuple(even_list)
    print(f"Odd: {odd_tuple}")
    print(f"Even: {even_tuple}")


t = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
odd_even_split_tuple(t)

Odd: (10, 5, 10, 10, 5, 8)
Even: (8, 2, 15, 8, 8, 2)

Adding to a tuple
Predict the output of the following code as we are trying to append to an immutable tuple:

name_lst = ["Vijay", "Vickey"]
tup = ("Item_1", 0.5, name_lst)
name_lst.append("Vishal")
print(tup)

In [140]:
name_lst = ["Vijay", "Vickey"]
tup = ("Item_1", 0.5, name_lst)
name_lst.append("Vishal")
print(tup)

('Item_1', 0.5, ['Vijay', 'Vickey', 'Vishal'])

In [144]:
t = tuple("David")
print(t, type(t))
t = ("David")
print(t, type(t))

('D', 'a', 'v', 'i', 'd') <class 'tuple'>
David <class 'str'>