# String
* Can be defined using single, double or triple quotes.
* Use TRIPLE single or double quotes for multi-line

In [103]:
"David" == "John"

False

In [104]:
''' Hello
There
'''

' Hello\nThere\n'

### unicode charaacters
ASCII => unicode

In [105]:
s = "David"
type (s)

str

In [106]:
s1='''Multiline 
David'''
type(s1)

str

### Ord and Chr
Unicode Encoding and Decoding
* The ord() function returns the number representing the unicode code of a specified character.
* The chr() function returns the character that represents the specified unicode.

In [107]:
print(ord("a"))
print(ord("A"))
print(ord("z"))
print(ord("Z"))

97
65
122
90

In [108]:
print(chr(97))
print(chr(65))
print(chr(122))
print(chr(90))
print(chr(2335))
print(chr(54)) # String repr of a number 6
print(type(chr(54)))

a
A
z
Z
à¤Ÿ
6
<class 'str'>

### Indexing a String

In [109]:
name = "John Smith"

In [110]:
len(name)

10

accessing character through indexing
* Strings are a list and iterable

In [111]:
name[0]

'J'

In [112]:
for c in name:
    print(c)

J
o
h
n

S
m
i
t
h

In [113]:
# negative indexing from end of iterator
name[-1]

'h'

In [114]:
name[-2]

't'

### String Slicing
[starting: end: jump]

In [115]:
print(name)
print(len(name))

John Smith
10

In [116]:
print(name[0])
print(name[-1])

J
h

In [117]:
name[0:3]

'Joh'

In [118]:
name[5:9]

'Smit'

In [119]:
name[5:-1] # Using negative index

'Smit'

In [120]:
name[5:0]

''

In [121]:
name[:] # Gives back the whole string

'John Smith'

In [122]:
name[5:] # did not give 'end'

'Smith'

In [123]:
#start, end, jump
name[::2]

'Jh mt'

In [124]:
# BACKWARDS
name[::-1]

'htimS nhoJ'

In [125]:
name[-1:0:-1]

'htimS nho'

In [126]:
# This is whats going on for a full BACKWARDS output
name[-1: -(len(name)+1): -1]

'htimS nhoJ'

### String Methods
* capitalize
* title
* upper, lower
* find
* count
* index
* replace
* split
* islower, isupper, isnumeric, isalpha

In [127]:
name = "john smith" # changed case
print(name)

john smith

In [128]:
print(name.title())
print(name.capitalize())
print(name.upper())
print(name.lower())
print(name.isupper())
print("D".isupper())
print(name.islower())
print(name.isalnum())
print(name.isalpha())
print(f'David.isalpha: {"David".isalpha()}')
print(name.isnumeric())
print("123".isnumeric()) # recognizes this string number as a number

John Smith
John smith
JOHN SMITH
john smith
False
True
True
False
False
David.isalpha: True
False
True

In [129]:
name.find?

Docstring:
S.find(sub[, start[, end]]) -> int

Return the lowest index in S where substring sub is found,
such that sub is contained within S[start:end].  Optional
arguments start and end are interpreted as in slice notation.

Return -1 on failure.
Type:      builtin_function_or_method

In [130]:
name.find("s")

5

In [131]:
print(name.count("s"))
print(name.count("T")) # case sensitive

1
0

In [132]:
name.replace("i","X")

'john smXth'

In [133]:
firstname,lastname = name.split(" ") # creates a new list
print(firstname)
print(lastname)

john
smith

### String Formatting
Different string printing methods

In [134]:
name = "John"
age = "30" #string age

print ("My name is", name,". And my age is", age)

My name is John . And my age is 30

In [135]:
# Format String
print ("My name is {}. And my age is {}".format(name,age))

My name is John. And my age is 30

In [136]:
# Same as Format, Format String, F-string :)
print(f"My name is {name} And my age is {age}")

My name is John And my age is 30

### String concatenation

In [138]:
firstname, lastname

('john', 'smith')

In [139]:
print(firstname+lastname)

johnsmith

In [140]:
"a"*3

'aaa'

In [141]:
print("2"+"2")
print(2+2)

22
4

### Print all vowels of a given string

In [142]:
text="The quick brown fox jumps over the lazy dog"

In [146]:
for i in text:
    if i in ("a","e","i","o","u"):
        print(i, end=" ")
        print()
    # same way
    if i == "a" or i=="e" or i=="i" or i=="o" or i=="u":
        print(i, end=" ")
        print()

e
e
u
u
i
i
o
o
o
o
u
u
o
o
e
e
e
e
a
a
o
o

### Find if a string is pallindrome
* a pallindrome if a string is the same forward or backward
* ie 'radar'

In [151]:
# my approach is simply to reverse the string and compare equal
# ignore case in this example
text='radar'
revtext = text[::-1]
if text == revtext:
    print(f"{text} is a pallindrome of {revtext}")
else:
    print(f"{text} is not a pallindrome of {revtext}")

radar is a pallindrome of radar

Length of unique words
Problem Description:

Given two sentences, write a program to return the sum of the total number of unique words from each sentence.
If a word is present in both sentences it should be counted separately for both sentences.

In [176]:
def set_operation(sent1:str, sent2:str):
    ''' input:sent1,sent2-two sentences taken as inputs
        output:return the sum of length of unique words.'''
    unique_count=0
    unique_count1=0
    unique_count2=0
    sent1_split = sent1.split(" ")
    unique_list1=[]
    sent2_split = sent2.split(" ")
    unique_list2=[]
    # print("found words")
    counter=1
    for sent1_word in sent1_split:
        if not sent1_word in sent1_split[counter:]:
            unique_count1 += 1
            unique_list1.append(sent1_word)
            # print(f"{sent1_word}", end=" ")
        else:
            pass
            # sent1_split.remove(sent1_word)
        counter +=1
    counter = 1
    for sent2_word in sent2_split:
        if not sent2_word in sent2_split[counter:]:
            unique_count2 += 1
            unique_list2.append(sent2_word)
            # print(f"{sent2_word}", end=" ")
        else:
            pass
            # sent2_split.remove(sent2_word)
        counter +=1
    # print()
    print(f"sent1_split {sent1_split}")
    print(f"sent2_split {sent2_split}")
    print(f"unique_list1 {unique_list1}")
    print(f"unique_list2 {unique_list2}")
    # unique_count1 = len(sent1_split)
    # unique_count2 = len(sent2_split)
    # print(unique_count1)
    # print(unique_count2)
    unique_count = unique_count1 + unique_count2
    return unique_count


sent1 = "in data analysis we use data and process it further to create better interpreted data"
sent2 = "more and more data will be passively collected"
print(set_operation(sent1, sent2))

sent1_split ['in', 'data', 'analysis', 'we', 'use', 'data', 'and', 'process', 'it', 'further', 'to', 'create', 'better', 'interpreted', 'data']
sent2_split ['more', 'and', 'more', 'data', 'will', 'be', 'passively', 'collected']
unique_list1 ['in', 'analysis', 'we', 'use', 'and', 'process', 'it', 'further', 'to', 'create', 'better', 'interpreted', 'data']
unique_list2 ['and', 'more', 'data', 'will', 'be', 'passively', 'collected']
20